*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;


}
body {
    background-color: s#f0f0f0;
}

.logo {
    width: 100px;
    position: absolute;
    top: 4%;
    left: 3%
}
.banner-text{
    text-align:center;
    color: #ffffff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Amatic SC', sans-serif;
    }
    .banner-text p{
        font-size: 40px;
        font-style: italic;
    }
    .banner-btn{
        margin: 50px auto 0;
    }
    .banner-btn a{
        width: 400px;
        text-decoration: none;
        margin: 10 40px;
        padding: 10px 12;
        color: #fff;
        border: 1px solid #fff;
        position: relative;
        z-index: 1
    }
    .banner-btn span{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: -1
    }

/* Style for the header and index */
header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Style for the blog post sections */
article {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

article h2 {
    color: #333;
}

article img {
    max-width: 100%;
    height: auto;
}
